@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --light: #f6f6f9;
    --primary: #1976D2;
    --light-primary: #CFE8FF;
    --grey: #eee;
    --dark-grey: #AAAAAA;
    --dark: #363949;
    --danger: #D32F2F;
	--light-danger: #FECDD3;
    --warning: #FBC02D;
    --light-warning: #FFF2C6;
    --success: #388E3C;
    --light-success: #BBF7D0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.bx{
    font-size: 1.7rem;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

html{
    overflow-x: hidden;
}

body.dark{
    --light: #181a1e;
    --grey: #25252c;
    --dark: #fbfbfb
}

body{
    background: var(--grey);
    overflow-x: hidden;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    background: var(--light);
    width: 230px;
    height: 100%;
    z-index: 2000;
    overflow-x: hidden;
    scrollbar-width: none;
    transition: all 0.3s ease;
}

.sidebar::-webkit-scrollbar{
    display: none;
}

.sidebar.close{
    width: 60px;
}

.sidebar .logo{
    font-size: 24px;
    font-weight: 700;
    height: 56px;
    display: flex;
    align-items: center;
    color: var(--primary);
    z-index: 500;
    padding-bottom: 20px;
    box-sizing: content-box;
}

.sidebar .logo .logo-name span{
    color: var(--dark);
}

.sidebar .logo .bx{
    min-width: 60px;
    display: flex;
    justify-content: center;
    font-size: 2.2rem;
}

.sidebar .side-menu{
    width: 100%;
    margin-top: 48px;
}

.sidebar .side-menu li{
    height: 48px;
    background: transparent;
    margin-left: 6px;
    border-radius: 48px 0 0 48px;
    padding: 4px;
}

.sidebar .side-menu li.active{
    background: var(--grey);
    position: relative;
}

.sidebar .side-menu li.active::before{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: -40px;
    right: 0;
    box-shadow: 20px 20px 0 var(--grey);
    z-index: -1;
}

.sidebar .side-menu li.active::after{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    bottom: -40px;
    right: 0;
    box-shadow: 20px -20px 0 var(--grey);
    z-index: -1;
}

.sidebar .side-menu li a{
    width: 100%;
    height: 100%;
    background: var(--light);
    display: flex;
    align-items: center;
    border-radius: 48px;
    font-size: 16px;
    color: var(--dark);
    white-space: nowrap;
    overflow-x: hidden;
    transition: all 0.3s ease;
}

.sidebar .side-menu li.active a{
    color: var(--success);
}

.sidebar.close .side-menu li a{
    width: calc(48px - (4px * 2));
    transition: all 0.3s ease;
}

.sidebar .side-menu li a .bx{
    min-width: calc(60px - ((4px + 6px) * 2));
    display: flex;
    font-size: 1.6rem;
    justify-content: center;
}

.sidebar .side-menu li a.logout{
    color: var(--danger);
    margin-top: 300px;
}

.content{
    position: relative;
    width: calc(100% - 230px);
    left: 230px;
    transition: all 0.3s ease;
}

.sidebar.close~.content{
    width: calc(100% - 60px);
    left: 60px;
}

.content nav{
    height: 56px;
    background: var(--light);
    padding: 0 24px 0 0;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}

.content nav::before{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: -40px;
    left: 0;
    border-radius: 50%;
    box-shadow: -20px -20px 0 var(--light);
}

.content nav a{
    color: var(--dark);
}

.content nav .bx.bx-menu{
    cursor: pointer;
    color: var(--dark);
}

.content nav form{
    max-width: 400px;
    width: 100%;
    margin-right: auto;
}

.content nav form .form-input{
    display: flex;
    align-items: center;
    height: 36px;
}

.content nav form .form-input input{
    flex-grow: 1;
    padding: 0 16px;
    height: 100%;
    border: none;
    background: var(--grey);
    border-radius: 36px 0 0 36px;
    outline: none;
    width: 100%;
    color: var(--dark);
}

.content nav form .form-input button{
    width: 80px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary);
    color: var(--light);
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 0 36px 36px 0;
    cursor: pointer;
}

.content nav .notif{
    font-size: 20px;
    position: relative;
}

.content nav .notif .count{
    position: absolute;
    top: -6px;
    right: -6px;
    width: 20px;
    height: 20px;
    background: var(--danger);
    border-radius: 50%;
    color: var(--light);
    border: 2px solid var(--light);
    font-weight: 700;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content nav .profile img{
    width: 36px;
    height: 36px;
    object-fit: cover;
    border-radius: 50%;
}

.content nav .theme-toggle{
    display: block;
    min-width: 50px;
    height: 25px;
    background: var(--grey);
    cursor: pointer;
    position: relative;
    border-radius: 25px;
}

.content nav .theme-toggle::before{
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: calc(25px - 4px);
    background: var(--primary);
    border-radius: 50%;
    transition: all 0.3s ease;
}

.content nav #theme-toggle:checked+.theme-toggle::before{
    left: calc(100% - (25px - 4px) - 2px);
}

.content main{
    width: 100%;
    padding: 36px 24px;
    max-height: calc(100vh - 56px);
}

.content main .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 16px;
    flex-wrap: wrap;
}

.content main .header .left h1{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--dark);
}

.content main .header .left .breadcrumb{
    display: flex;
    align-items: center;
    grid-gap: 16px;
}

.content main .header .left .breadcrumb li{
    color: var(--dark);
}

.content main .header .left .breadcrumb li a{
    color: var(--dark-grey);
    pointer-events: none;
}

.content main .header .left .breadcrumb li a.active{
    color: var(--primary);
    pointer-events: none;
}

.content main .header .report{
    height: 36px;
    padding: 0 16px;
    border-radius: 36px;
    background: var(--primary);
    color: var(--light);
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 10px;
    font-weight: 500;
}

.content main .insights{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 24px;
    margin-top: 36px;
}

.content main .insights li{
    padding: 24px;
    background: var(--light);
    border-radius: 20px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    cursor: pointer;
}

.content main .insights li .bx{
    width: 80px;
    height: 80px;
    border-radius: 10px;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content main .insights li:nth-child(1) .bx{
    background: var(--light-primary);
    color: var(--primary);
}

.content main .insights li:nth-child(2) .bx{
    background: var(--light-warning);
    color: var(--warning);
}

.content main .insights li:nth-child(3) .bx{
    background: var(--light-success);
    color: var(--success);
}

.content main .insights li:nth-child(4) .bx{
    background: var(--light-danger);
    color: var(--danger);
}

.content main .insights li .info h3{
    font-size: 24px;
    font-weight: 600;
    color: var(--dark);
}

.content main .insights li .info p{
    color: var(--dark);
}

.content main .bottom-data{
    display: flex;
    flex-wrap: wrap;
    grid-gap: 24px;
    margin-top: 24px;
    width: 100%;
    color: var(--dark);
}

.content main .bottom-data>div{
    border-radius: 20px;
    background: var(--light);
    padding: 24px;
    overflow-x: auto;
}

.content main .bottom-data .header{
    display: flex;
    align-items: center;
    grid-gap: 16px;
    margin-bottom: 24px;
}

.content main .bottom-data .header h3{
    margin-right: auto;
    font-size: 24px;
    font-weight: 600;
}

.content main .bottom-data .header .bx{
    cursor: pointer;
}

.content main .bottom-data .orders{
    flex-grow: 1;
    flex-basis: 500px;

    
}

.content main .bottom-data .orders table{
    width: 100%;
    border-collapse: collapse;
}

.content main .bottom-data .orders table th{
    padding-bottom: 12px;
    font-size: 13px;
    text-align: left;
    border-bottom: 1px solid var(--grey);
}

.content main .bottom-data .orders table td{
    padding: 16px 0;
}

.content main .bottom-data .orders table tr td:first-child{
    display: flex;
    align-items: center;
    grid-gap: 12px;
    padding-left: 6px;
}

.content main .bottom-data .orders table td img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}

.content main .bottom-data .orders table tbody tr{
    cursor: pointer;
    transition: all 0.3s ease;
}

.content main .bottom-data .orders table tbody tr:hover{
    background: var(--grey);
}

.content main .bottom-data .orders table tr td .status{
    font-size: 10px;
    padding: 6px 16px;
    color: var(--light);
    border-radius: 20px;
    font-weight: 700;
}

.content main .bottom-data .orders table tr td .status.completed{
    background: var(--success);
}

.content main .bottom-data .orders table tr td .status.process{
    background: var(--primary);
}

.content main .bottom-data .orders table tr td .status.pending{
    background: var(--warning);
}

.content main .bottom-data .reminders{
    flex-grow: 1;
    flex-basis: 300px;
}

.content main .bottom-data .reminders .task-list{
    width: 100%;
}

.content main .bottom-data .reminders .task-list li{
    width: 100%;
    margin-bottom: 16px;
    background: var(--grey);
    padding: 14px 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content main .bottom-data .reminders .task-list li .task-title{
    display: flex;
    align-items: center;
}

.content main .bottom-data .reminders .task-list li .task-title p{
    margin-left: 6px;
}

.content main .bottom-data .reminders .task-list li .bx{
  cursor: pointer;  
}

.content main .bottom-data .reminders .task-list li.completed{
    border-left: 10px solid var(--success);
}

.content main .bottom-data .reminders .task-list li.not-completed{
    border-left: 10px solid var(--danger);
}

.content main .bottom-data .reminders .task-list li:last-child{
   margin-bottom: 0;
}
.patient-details {
    display: flex;
    align-items: center;
}

.text-details {
    margin-left: 20px;
}

@media screen and (max-width: 768px) {
    .sidebar{
        width: 200px;
    }

    .content{
        width: calc(100% - 60px);
        left: 200px;
    }
    .patient-details {
        flex-direction: column;
        align-items: flex-start;
    }

}

@media screen and (max-width: 576px) {
    
    .content nav form .form-input input{
        display: none;
    }

    .content nav form .form-input button{
        width: auto;
        height: auto;
        background: transparent;
        color: var(--dark);
        border-radius: none;
    }

    .content nav form.show .form-input input{
        display: block;
        width: 100%;
    }

    .content nav form.show .form-input button{
        width: 36px;
        height: 100%;
        color: var(--light);
        background: var(--danger);
        border-radius: 0 36px 36px 0;
    }

    .content nav form.show~.notif, .content nav form.show~.profile{
        display: none;
    }

    .content main .insights {
        grid-template-columns: 1fr;
    }

    .content main .bottom-data .header{
        min-width: 340px;
    }

    .content main .bottom-data .orders table{
        min-width: 340px;
    }

    .content main .bottom-data .reminders .task-list{
        min-width: 340px;
    }

}

.centered-image {
    display: flex;
    justify-content: center;
    align-items: center;
margin-left: -8%;
margin-top: 7%;
}

.bigcontainer {
    display: flex;
    flex-wrap: flex; 
    margin-top: 2%;
    margin-left: 1%;
    min-height: 645px;
    width: 98%;
    background: #fff;
    border-radius: 25px;
    box-shadow: var(--box-shadow);
}

.card-mini {
    flex: 0 0 calc(33.3333% - 20px);
    display: flex;
    height: 600px;
    background: #EDF4FC;
    border-radius: 45px;
    box-shadow: var(--box-shadow);
    justify-content: center;
    max-width: 350px;
    /* margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px; */
    box-sizing: border-box;
    margin: 25px auto 10px;
}

.foto {
    padding-top: 20px;
    width: 100%;
    height: auto;
    margin: 0;
    display: block;
    max-width: 203px;
    border-radius: 30px 30px 30px 30px;
}


@media only screen and (max-width: 768px) {
    .card-mini {
        flex: 0 0 calc(100% - 20px); 
        height: 400px;
        border-radius: 20px;
    }
}

.container-status {
    flex: 0 0 calc(33.3333% - 20px);
    display: flex;
    height: 100px;
    background: #617a98 !important;
    border-radius: 45px;
    box-shadow: var(--box-shadow);
    justify-content: center;
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
    border-style: solid var(--black);
    box-sizing: border-box; 
}

.c_frame23-frame {
    padding-top: 20%;
    width: 100%;
    max-width: 3000px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; /* Added box-sizing property */
}

/* Add more styles and media queries as needed */

  .c_drg-aurell-poli-gig-text {
    width: 100%;
    max-width: 207px;
    max-height:250px;
    margin-top: 5%;
    min-height: 61px;
    text-align: center;
    margin-bottom: 0;
  }
  
  .c_drg-aurell-poli-gig-text1,
  .c_drg-aurell-poli-gig-text2 {
    color: #271e4a;
    font-size: 20px;
    font-style: normal;
    margin-top: 0;
    text-align: center;
    font-family: "Kanit",sans-serif;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 0;
    letter-spacing: 0;
    text-transform: none;
  }
  
  .c_jadwal3-instance {
    width: 100%;
    max-width: 600px;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #3497F9;
    border-radius: 5px;
    margin-top: 10%;
  }
  .c_jadwal3-instance4 {
    width: 100%;
    max-width: 600px;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #43d430;
    margin-top: 50px;
    border-radius: 5px;
  }
  
  .c_jadwal3-text {
    width: 100%;
    max-width: 199px;
    min-height: 30px;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .c_jadwal3-text1,
  .c_jadwal3-text2 {
    color: #030303;
    font-size: 20px;
    font-style: normal;
    margin-top: 10%;
    text-align: center;
    font-family: "Kanit",sans-serif;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 0;
    letter-spacing: 0;
    text-transform: none;
  }
  
  .c_jadwal3-vector {
    width: 100%;
    height: auto;
    margin: 0;
    display: block;
    max-width: 268.6728515625px;
    box-shadow: 0 4px 15px 0#79cfa6;
  }
  
  .c_jadwal3-text3,
  .c_jadwal3-text4 {
    margin-top: 0;
    text-align: center;
    margin-bottom: 0;
  }
  
  .c_jadwal3-text3 {
    width: 100%;
    max-width: 187.06790161132812px;
    min-height: 35.3684196472168px;
  }
  
  .c_jadwal3-text4 {
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-family: "Kanit",sans-serif;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0;
    text-transform: none;
  }
  
  .c_jadwal3-vector1 {
    width: 100%;
    height: auto;
    margin: 0;
    display: block;
    opacity: .11999999731779099;
    max-width: 284px;
  }
  /* .container status{
    display: flex;
    height: 100px ;
    width: 150px;
    background: #617a98 !important;
    border-radius: 45px ;
    box-shadow: var(--box-shadow);
    justify-content: center;
    margin-top: 25px;
    margin-left: 10px; 
    margin-right: 10px;
    border-style: solid var(--black);
  } */
  .c_frame23-frame {
    padding-top: 20%;
    width: 100%;
    max-width: 3000px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .c_frame23-text {
    font-size: 24px;
    font-weight: bold;
  }
  
  .c_frame23-text02 {
    margin-top: 10px;
    color: #999;
  }
  
  .c_frame23-line {
    margin: 20px 0;
  }
  
  .c_frame23-text04 {
    color: #999;
  }
  
  
  .edit-button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: justify-content;
    margin-top: 10px;
    width: 150px;
  /* bottom: 10px; */
    /* left: 50%; */
    /* transform: translateX(-50%); */
  }
  
  .rounded-image {
    border-radius: 10%;
  }
  
  .c_frame23-frame {
    max-width: 80%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#myLineChart {
    max-width: 100%;
    margin-top: 20px;
}

.c_frame23-text {
    text-align: center;
}

.c_frame23-text01 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.c_frame23-text02,
.c_frame23-text04 {
    text-align: center;
    margin-top: 10px;
}

.c_frame23-text03,
.c_frame23-text05 {
    font-size: 14px;
    margin: 0;
}

.container-profil{
    margin-left: 1230px;
    
}

/* Add this style for the admin profile */
.admin-profile {
    display: flex;
    align-items: center;
    margin-left: 85%;
}

.admin-profile a {
    display: flex;
    align-items: center;
    margin-left: auto;
    text-decoration: none;
    color: #333;
}

.admin-profile img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 8px;
}

/* Rest of your existing CSS */
.card-detail{
    flex: 0 0 calc(33.3333% - 20px);
    display: flex;
    height: 275px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    background: #EDF4FC;
    border-radius: 45px;
    box-shadow: var(--box-shadow);
    justify-content: center;
    /* max-width: 350px;
    /* margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px; */
    /* box-sizing: border-box; */
    /* margin: 25px auto 10px; */ 
}
.medical-history {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    align-items: center;
}

.header i {
    margin-right: 10px;
}

.history-list {
    list-style-type: none;
    padding: 0;
}

.history-list li {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

/* Optional: Add styles to make it responsive */
@media (max-width: 600px) {
    .history-list li {
        padding: 10px;
    }
}
.patient-record {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.header i {
    margin-right: 10px;
}

.patient-details {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.text-details {
    margin-left: 20px;
}

.rounded-image {
    border-radius: 50%;
    overflow: hidden;
}

.medical-history {
    padding: 20px;
}

.history-list {
    list-style-type: none;
    padding: 0;
}

.history-list li {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

/* Optional: Add styles to make it responsive */
@media (max-width: 600px) {
    .patient-details {
        flex-direction: column;
        align-items: flex-start;
    }

    .text-details {
        margin: 10px 0 0 0;
    }
}
.doctor-schedule {
    max-width: 800px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.header i {
    margin-right: 10px;
}

.doctor-bio,
.schedule-form {
    flex: 1;
}

.doctor-details {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.text-details {
    margin-left: 20px;
}

.rounded-image {
    border-radius: 50%;
    overflow: hidden;
}

.schedule-form {
    padding: 20px;
    box-sizing: border-box;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

select,
input {
    margin-bottom: 16px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
}

.service-schedule {
    max-width: 800px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.service-schedule {
    max-width: 800px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.header i {
    margin-right: 10px;
}

.poli-info,
.doctor-selection,
.doctor-bio {
    flex: 1;
}

.poli-details,
.doctor-details {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.text-details {
    margin-left: 20px;
}

.rounded-image {
    border-radius: 50%;
    overflow: hidden;
}

form {
    padding: 20px;
    box-sizing: border-box;
}

label {
    margin-bottom: 8px;
}

select,
input {
    margin-bottom: 16px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
}

.doctor-option {
    margin-bottom: 16px;
}
.doctor-schedule {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.doctor-card {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 15px;
    margin: 5px;
    margin-left: 5px;
    text-align: center;
    
}

.doctor-image {

        width: 100%;
        height: 240px;
        object-fit: cover;

}

.doctor-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.doctor-name {
    margin-bottom: 10px;
}

.poli, .schedule, .availability-text {
    margin: 5px 0;
}

.edit-button {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.kotak-jadwal{
width: 100%;
max-width: 199px;
min-height: 30px;
text-align: center;
margin-bottom: 10px;
background-color: #3497F9;
}

.kotak-ava{
    width: 100%;
    max-width: 199px;
    min-height: 30px;
    text-align: center;
    margin-bottom: 10px;
    background-color: #79CFA6;
}


.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
  }
  
  .search__input {
    font-family: inherit;
    font-size: inherit;
    background-color: #f4f2f2;
    border: none;
    color: #646464;
    padding: 0.7rem 1rem;
    border-radius: 30px;
    width: 12em;
    transition: all ease-in-out .5s;
    margin-right: -2rem;
  }
  
  .search__input:hover, .search__input:focus {
    box-shadow: 0 0 1em #00000013;
  }
  
  .search__input:focus {
    outline: none;
    background-color: #f0eeee;
  }
  
  .search__input::-webkit-input-placeholder {
    font-weight: 100;
    color: #ccc;
  }
  
  .search__input:focus + .search__button {
    background-color: #f0eeee;
  }
  
  .search__button {
    border: none;
    background-color: #f4f2f2;
    margin-top: .1em;
  }
  
  .search__button:hover {
    cursor: pointer;
  }
  
  .search__icon {
    height: 1.3em;
    width: 1.3em;
    fill: #b4b4b4;
  }

  .header input[type="date"],
.header input[type="text"] {
    padding: 8px;
    margin-right: 10px;
}
@media (max-width: 768px) {
    .doctor-card {
        flex-basis: calc(50% - 20px);
    }
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    margin-right: 10px;
}
.search-bar button {
    background-color: white; 
    color: #333;
    border: 1px solid #ccc; 
    padding: 8px 12px; 
    cursor: pointer;
    margin-bottom: 12px;
}

.search-bar button:hover {
    background-color: #f0f0f0; 
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #eee;
    padding: 10px;
}

.search-section {
    display: flex;
    align-items: center;
}

.search-section button {
    padding: 8px;
    background-color: #5a5757;
    border: 1px solid #ddd;
    cursor: pointer;
}

.search-section button:hover {
    background-color: #ddd;
}
button {
    background-color: #2a4365;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Style untuk input text dan tanggal */
input[type="text"],
input[type="date"] {
    padding: 8px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}
/* Style untuk pagination buttons */
.pagination-buttons button {
    background-color: #2a4365;
    color: #fff;
    padding: 8px 12px;
    margin: 0 2px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.pagination-buttons button:hover {
    background-color: #1a3652;
}

.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f1f1f1;
    margin-bottom: 20px;
}

/* Add styles for the search input */
#searchInput {
    width: 200px;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 17px;
}

.doctor-schedule {
    flex: 1;
}

.pagination-buttons {
    margin-top: 20px;
}